<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224713051299-utkngmkebt61a1hpfe9hf369ns0tsg9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224713051299-utkngmkebt61a1hpfe9hf369ns0tsg9g</string>
	<key>API_KEY</key>
	<string>AIzaSyB_ZYkTDbCQzvArdcJK0YMj3WzIH7Twq9E</string>
	<key>GCM_SENDER_ID</key>
	<string>224713051299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-example-bd7fc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-bd7fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224713051299:ios:34f17311d9d6890f620316</string>
</dict>
</plist>